<!doctype html>
<html lang="en">
{% extends "layout.html" %}
{% block head %}
{{ super() }}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Apetite</title>

  </head>
{% endblock %}

  <body>
  {% block content %}
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Sign out</a>
                </li>
            </ul>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/getprediction?inventory_name=apple">
                  <span data-feather="home"></span>
                  Inventory
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/form">
                  <span data-feather="file"></span>
                  Form <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/form">
                  <span data-feather="shopping-cart"></span>
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/form">
                  <span data-feather="users"></span>
                  Customers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/form">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/form">
                  <span data-feather="layers"></span>
                  Integrations
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li>
            </ul>
          </div>
        </nav>
        

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-1">

          <h1 class="h2" style="margin: 10px;">Select items</h1>
          <br>
            {% for inventory in inventories %}
            <div class="card" style="width: 18rem; display: inline-block; margin: 20px">
              <img class="card-img-top"
                   src={{ inventory.img }}
                   alt="Card image cap"
                   style="height: 15rem; width: 17.5rem;"
              >
              <div class="card-body">
                <h5 class="card-title" style="text-align:center;">{{ inventory.name }}</h5>
              </div>
              <ul class="list-group list-group-flush">
                    <button
                            type="button"
                            class="btn btn-primary"
                            data-toggle="modal"
                            data-target="#exampleModal"
                            data-name={{ inventory.name }}>
                        SELECT
                    </button>
              </ul>
            </div>
            {% endfor %}

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Apple</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form style="width: 85%">
                      <div class="form-group">
                        <label for="inventory_name">Inventory Name</label>
                        <input type="email" class="form-control" id="inventory_name" aria-describedby="emailHelp" placeholder="Enter inventory item name">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>

                      <div class="form-group">
                        <label for="weather">Average Temperature</label>
                        <input type="weather" class="form-control" id="weather" placeholder="70">
                      </div>

                      <div class="form-group">
                          <label for="location">Location</label>
                          <input type="location" class="form-control" id="location" placeholder="Berkeley, CA">
                        </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="button" type="submit" class="btn btn-primary" value="Submit" onclick="
                        var inventory_name = document.getElementById('inventory_name').value;
                        window.location.href='/getprediction?inventory_name=' + inventory_name;">
                  </div>
                </div>
              </div>
            </div>

          <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/bootstrap-4.0.0-alpha.6-dist/js/popper.min.js"></script>
    <script src="../static/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    <script>
      $('#exampleModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var inventory_name = button.data('name')
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          modal.find('#ModalLabel').text(inventory_name)
          modal.find('#inventory_name').val(inventory_name);
       })
    </script>

  </body>
{% endblock %}
</html>
