
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Apetite</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../static/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel= "stylesheet" href= "{{ url_for('static', filename='bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="{{ url_for('static', filename='bootstrap-4.0.0-alpha.6-dist/css/dashboard.css')}}"> -->
    <!-- <link href="../static/bootstrap-4.0.0-alpha.6-dist/css/dashboard.css" rel="stylesheet"> -->
    <link rel= "stylesheet" href= "{{ url_for('static',filename='bootstrap-4.0.0-alpha.6-dist/css/dashboard.css')}}">
  
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,400,700,900" rel="stylesheet">
    <style>
      body {
        height: auto;
        margin: 0;
        font-family: 'Lato', sans-serif;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Appetite</a>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Sign out</a>
                </li>
            </ul>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/getprediction?inventory_name=apple">
                  <span data-feather="home"></span>
                  Inventory
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/form">
                  <span data-feather="file"></span>
                  Form <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/form">
                  <span data-feather="shopping-cart"></span>
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/form">
                  <span data-feather="users"></span>
                  Customers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/form">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/form">
                  <span data-feather="layers"></span>
                  Integrations
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li>
            </ul>
          </div>
        </nav>
        

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

          <h1 class="h2">Select items</h1>
          <br>

          <form style="width: 85%">
              <div class="form-group">
                <label for="inventory_name">Inventory Name *</label>
                <input type="email" class="form-control" id="inventory_name" aria-describedby="emailHelp" placeholder="Enter inventory item name">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              
              <div class="form-group">
                <label for="weather">Weather</label>
                <input type="weather" class="form-control" id="weather" placeholder="70">
              </div>

              <div class="form-group">
                  <label for="location">Location</label>
                  <input type="location" class="form-control" id="location" placeholder="Berkeley, CA">
                </div>
              
              <input type="button" type="submit" class="btn btn-primary" value="Submit" onclick="
                var inventory_name = document.getElementById('inventory_name').value;
                window.location.href='/getprediction?inventory_name=' + inventory_name;"> 
            </form>

          <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/bootstrap-4.0.0-alpha.6-dist/js/popper.min.js"></script>
    <script src="../static/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

  </body>
</html>
